* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
    width: 512px;
    height: 0;
}

.wrapper{
    
    height: 100vh;
    height:calc(100vh - 100px);
}

.sidebar{
    flex-direction: column;
    max-width: 100px;
    width: 100px;
    background: #141318;
    gap: 5px;
    align-items: center;
    top: 10px;
    
}

.fut-bar{
    height: 100px;
    background-color: #2D2D35;
    
}

.main{

    background: #1C1D22;
    flex-direction: column;
    flex-grow: 1;
}

.d-flex{
    display: flex;
}

.c-white{
    color: white;
}

.dim-img-ser{
    width: 50px;
    height: 50px;
}