* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 0 auto;
    width: 512px;
    height: 0;
    
}

.wrapper{
    
    height: 100vh;
    height:calc(100vh - 80px);
    background: #141318;
    
}

.sidebar{
    flex-direction: column;
    max-width: 100px;
    width: 90px;
    background: #141318;
    gap: 10px;
    align-items: center;
    top: 10px;
    
}

.fut-bar{
    height: 80px;
    background-color: #2D2D35;
    display: flex;
    left: 0;
	right: 0;
	bottom: 0;
	color: #fff;
    justify-content: space-around;
    align-items: center;
    padding: 0px 0;
}    

.img-foot{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    margin-bottom: 5px;
    
}

.al-center{
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 5px;
}

.font-foot{
    font-weight: 300;
    font-size: 0.75rem;
}

.pos-abs{
    position: absolute;
}

.main{
    margin-top: 10px;
    background: #1C1D22;
    flex-direction: column;
    flex-grow: 1;
    border-top-left-radius: 25px;
}

.d-flex{
    display: flex;
}

.c-white{
    color: white;
}

.mar-top{
    margin-top:25px ;
}

.pos-rel{
    position: relative;
}

.dim-img-ser{
    width: 57px;
    height: 57px;
    border-radius: 50%;

}

.dim-logo-ser{
    width: 57px;
    height: 57px;
    border-radius: 15px;
}

.header{
    padding: 25px 0 5px 20px;
    display: flex;
    flex-direction: column;
}

.head-title{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 5px;
}

.d-flex i.bi-search {
    font-size: 1rem;
    background-color: #373A43;
    padding: 7px;
    border-radius: 50%;
    
}


.head-flex{
    align-items: center;
    gap: 8px;
}


.button-head{
    background: #373A43;
    border: none;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    border-radius: 25px;
    padding: 8px;
    flex-grow: 1;
    justify-content: center;
    margin: 5px;
    margin-right: 25px;
}

.mes-item {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    margin: 5px 8px;
    border-radius: 8px;
    
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    
    
}

.mes-content {
    display: flex;
    justify-content: center;
    gap: 5px;
    flex-direction: column;
    min-width: 0;
    
}

.opacity{
    opacity: 0.5;
}

.mes-name {
    color: #ffffff;
    font-size: 18px;
    font-weight: 500;
    margin: 0;
    display: flex;
}

.mes-dm{
    font-size: 14px;
    white-space: nowrap;
    margin: 0;
    
}

.mes-time{
    font-size: 14px;
    margin: 0;
    white-space: nowrap;
    position: absolute;
    right: 0;
    translate: +50% -50%;
    
}

.mes-dm-time {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
    position: relative;
    
}

.message{
    margin-top: 5px;
}

.on{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid;
    border-color: black;
    background-color: green;
    z-index: 999;
    translate: -30% -10%;
}

.mid-off{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid;
    border-color: black;
    background-color: rgb(255, 187, 0);
    z-index: 999;
    translate: -30% -10%;
}

.off{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    border: 5px solid;
    border-color: black;
    background-color: red;
    z-index: 999;
    translate: -30% -10%;
}